n8n_email_workflow.json
{
  "name": "Bienvenida - Secuencia 3 emails",
  "nodes": [
    {
      "id": "n-schedule",
      "name": "Cada Hora",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -400,
        200
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      }
    },
    {
      "id": "n-webhook",
      "name": "Test Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -400,
        0
      ],
      "parameters": {
        "path": "bienvenida-test",
        "responseMode": "onReceived",
        "options": {}
      }
    },
    {
      "id": "n-read",
      "name": "Leer Contactos",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -160,
        100
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PENDING",
          "name": "Google Sheets OAuth2"
        }
      },
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1-cPywxrJYYI0qhACMWea1MVK3y36X1PNyJExZzWm8sA",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "gid"
        },
        "options": {}
      }
    },
    {
      "id": "n-f1",
      "name": "\u00bfNecesita D1?",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        80,
        -100
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json['Email_Enviado_D1'] }}",
              "rightValue": "SI",
              "operator": {
                "type": "string",
                "operation": "notStartsWith"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "n-f3",
      "name": "\u00bfNecesita D3?",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        80,
        100
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json['Email_Enviado_D1'] }}",
              "rightValue": "SI",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            },
            {
              "id": "c2",
              "leftValue": "={{ $json['Email_Enviado_D3'] }}",
              "rightValue": "SI",
              "operator": {
                "type": "string",
                "operation": "notStartsWith"
              }
            },
            {
              "id": "c3",
              "leftValue": "={{ $now.diff(DateTime.fromISO($json['Fecha_Registro']),'days') }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "n-f7",
      "name": "\u00bfNecesita D7?",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        80,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "c1",
              "leftValue": "={{ $json['Email_Enviado_D1'] }}",
              "rightValue": "SI",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            },
            {
              "id": "c2",
              "leftValue": "={{ $json['Email_Enviado_D3'] }}",
              "rightValue": "SI",
              "operator": {
                "type": "string",
                "operation": "startsWith"
              }
            },
            {
              "id": "c3",
              "leftValue": "={{ $json['Email_Enviado_D7'] }}",
              "rightValue": "SI",
              "operator": {
                "type": "string",
                "operation": "notStartsWith"
              }
            },
            {
              "id": "c4",
              "leftValue": "={{ $now.diff(DateTime.fromISO($json['Fecha_Registro']),'days') }}",
              "rightValue": 7,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "n-e1",
      "name": "Enviar D1",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        340,
        -100
      ],
      "credentials": {
        "smtp": {
          "id": "ed8qQqJOrrT7zaVb",
          "name": "Gmail SMTP - Victoria"
        }
      },
      "parameters": {
        "fromEmail": "Victoriabarriostrejos@gmail.com",
        "toEmail": "={{ $json['Email'] }}",
        "subject": "=Bienvenido/a, {{ $json['Nombre'] }} \ud83d\udc4b",
        "emailType": "html",
        "message": "<p>Hola <strong>{{ $json['Nombre'] }}</strong>,</p>\n<p>Nos alegra mucho que est\u00e9s aqu\u00ed. Queremos que sepas que a partir de hoy cont\u00e1s con nuestro apoyo en cada paso de tu camino.</p>\n<p><strong>\u00bfQu\u00e9 pod\u00e9s esperar de nosotros?</strong></p>\n<ul>\n  <li>\u2705 Atenci\u00f3n personalizada y \u00e1gil</li>\n  <li>\u2705 Recursos y herramientas pensados para tu crecimiento</li>\n  <li>\u2705 Un equipo real detr\u00e1s de cada mensaje</li>\n</ul>\n<p>Como primer paso, te invitamos a <strong>agendar una llamada gratuita de 15 minutos</strong> para conocerte mejor.</p>\n<p style=\"text-align:center;margin:24px 0\">\n  <a href=\"https://tracker.machukllc.xyz\" style=\"background:#4F46E5;color:white;padding:12px 24px;border-radius:6px;text-decoration:none;font-weight:bold\">Agendar mi llamada \u2192</a>\n</p>\n<p>\u00a1Bienvenido/a!<br>Victoria</p>",
        "options": {}
      }
    },
    {
      "id": "n-e3",
      "name": "Enviar D3",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        340,
        100
      ],
      "credentials": {
        "smtp": {
          "id": "ed8qQqJOrrT7zaVb",
          "name": "Gmail SMTP - Victoria"
        }
      },
      "parameters": {
        "fromEmail": "Victoriabarriostrejos@gmail.com",
        "toEmail": "={{ $json['Email'] }}",
        "subject": "={{ $json['Nombre'] }}, \u00bften\u00e9s alguna pregunta?",
        "emailType": "html",
        "message": "<p>Hola <strong>{{ $json['Nombre'] }}</strong>,</p>\n<p>Han pasado unos d\u00edas y quer\u00eda asegurarme de que todo est\u00e9 bien.</p>\n<p><strong>Recordatorio r\u00e1pido de lo que tenemos para vos:</strong></p>\n<ul>\n  <li>\ud83d\ude80 Resultados desde el primer mes</li>\n  <li>\ud83d\udcac Soporte en espa\u00f1ol, sin vueltas</li>\n  <li>\ud83d\udcca Reportes claros y transparentes</li>\n</ul>\n<p>Si ten\u00e9s alguna duda, simplemente <strong>respond\u00e9 este email</strong> y te contesto personalmente.</p>\n<p>Estoy ac\u00e1 para ayudarte.<br>Victoria</p>",
        "options": {}
      }
    },
    {
      "id": "n-e7",
      "name": "Enviar D7",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        340,
        300
      ],
      "credentials": {
        "smtp": {
          "id": "ed8qQqJOrrT7zaVb",
          "name": "Gmail SMTP - Victoria"
        }
      },
      "parameters": {
        "fromEmail": "Victoriabarriostrejos@gmail.com",
        "toEmail": "={{ $json['Email'] }}",
        "subject": "=Una oportunidad especial para vos, {{ $json['Nombre'] }}",
        "emailType": "html",
        "message": "<p>Hola <strong>{{ $json['Nombre'] }}</strong>,</p>\n<p>Llevamos una semana juntos y quiero compartirte algo especial.</p>\n<blockquote style=\"border-left:4px solid #4F46E5;padding-left:16px;color:#555\">\n  <em>\"En el primer mes ya notamos resultados. El equipo estuvo presente en todo momento.\"</em><br>\u2014 Carlos M., cliente 2024\n</blockquote>\n<p>Esta semana tenemos una oportunidad exclusiva para nuevos miembros. \u00a1No te la pierdas!</p>\n<p style=\"text-align:center;margin:24px 0\">\n  <a href=\"https://tracker.machukllc.xyz\" style=\"background:#059669;color:white;padding:12px 24px;border-radius:6px;text-decoration:none;font-weight:bold\">Ver mi oportunidad \u2192</a>\n</p>\n<p>Esta oferta vence el viernes.<br>Victoria</p>",
        "options": {}
      }
    },
    {
      "id": "n-u1",
      "name": "Marcar D1 Enviado",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        600,
        -100
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PENDING",
          "name": "Google Sheets OAuth2"
        }
      },
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1-cPywxrJYYI0qhACMWea1MVK3y36X1PNyJExZzWm8sA",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "gid"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email_Enviado_D1": "={{ 'SI - ' + $now.format('dd/MM/yyyy HH:mm') }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": true,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Email_Enviado_D1",
              "displayName": "Email_Enviado_D1",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": false,
              "display": true,
              "type": "string",
              "removed": false
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "n-u3",
      "name": "Marcar D3 Enviado",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        600,
        100
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PENDING",
          "name": "Google Sheets OAuth2"
        }
      },
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1-cPywxrJYYI0qhACMWea1MVK3y36X1PNyJExZzWm8sA",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "gid"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email_Enviado_D3": "={{ 'SI - ' + $now.format('dd/MM/yyyy HH:mm') }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": true,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Email_Enviado_D3",
              "displayName": "Email_Enviado_D3",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": false,
              "display": true,
              "type": "string",
              "removed": false
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "n-u7",
      "name": "Marcar D7 Enviado",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        600,
        300
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PENDING",
          "name": "Google Sheets OAuth2"
        }
      },
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1-cPywxrJYYI0qhACMWea1MVK3y36X1PNyJExZzWm8sA",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "gid"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email_Enviado_D7": "={{ 'SI - ' + $now.format('dd/MM/yyyy HH:mm') }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": true,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "Email_Enviado_D7",
              "displayName": "Email_Enviado_D7",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": false,
              "display": true,
              "type": "string",
              "removed": false
            }
          ]
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "Cada Hora": {
      "main": [
        [
          {
            "node": "Leer Contactos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test Webhook": {
      "main": [
        [
          {
            "node": "Leer Contactos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Contactos": {
      "main": [
        [
          {
            "node": "\u00bfNecesita D1?",
            "type": "main",
            "index": 0
          },
          {
            "node": "\u00bfNecesita D3?",
            "type": "main",
            "index": 0
          },
          {
            "node": "\u00bfNecesita D7?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\u00bfNecesita D1?": {
      "main": [
        [
          {
            "node": "Enviar D1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\u00bfNecesita D3?": {
      "main": [
        [
          {
            "node": "Enviar D3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "\u00bfNecesita D7?": {
      "main": [
        [
          {
            "node": "Enviar D7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar D1": {
      "main": [
        [
          {
            "node": "Marcar D1 Enviado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar D3": {
      "main": [
        [
          {
            "node": "Marcar D3 Enviado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar D7": {
      "main": [
        [
          {
            "node": "Marcar D7 Enviado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}